@font-face {
    font-family: pop;
    src: url(FontsFree-Net-Poppins-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pop;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(back.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.main{
    width: 60vw;
    height: 56vh;
    margin: 22vh 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main p{
    margin: 15vh 0;
    font-size: 1.5vw;
    text-align: center;
}

.main h1{
    font-size: 3vw;
}

.main a{
    text-decoration: none;
    font-size: 1.5vw;
    color: #000;
}

.main a:hover{
    text-decoration: underline;
    color: #bd10a6;
}

.main .link{
    display: flex;
    width: 20vw;
    justify-content: space-between;
}