* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: pop;
}

@font-face {
  font-family: pop;
  src: url(../outils/FontsFree-Net-Poppins-Medium.ttf);
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  background-image: url(../outils/fire.jpg);
  background-size: cover;
  background-position: center;
  /* background-color: #05253A; */
  backdrop-filter: blur(2px);
}

.main {
  width: 35vw;
  height: 90vh;
  padding: 0 5vh;
  padding-top: 3vh;
  background-color: #0d3451;
  /* backdrop-filter: blur(8px); */
  margin: 5vh 5vw;
  border-radius: 0.5vw;
}

.others {
  width: 65vw;
  height: 100vh;
}

.head {
  display: flex;
  align-items: center;
}

h1 {
  font-weight: bolder;
  font-size: 1.5vw;
  color: #fff;
}

p {
  font-size: 0.9vw;
  color: #aaa;
  margin: 0.3vh 0;
}

.login {
  display: flex;
  flex-direction: column;
}

.login label {
  font-size: 0.9vw;
  color: #aaa;
}

.login input {
  margin: 1vh 0;
  height: 4vh;
  font-size: 0.9vw;
  border-radius: 0.2vw;
  border: 2px solid #1e425d;
  padding: 0 1vw;
  background: none;
}

.login select {
  margin: 1vh 0;
  height: 4vh;
  font-size: 0.9vw;
  border-radius: 0.2vw;
  border: 2px solid #1e425d;
  padding: 0 0.5vw;
  background: none;
  color: #000;
}

.login .confirm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login .submit {
  margin: 1vh 0;
  height: 5vh;
  font-size: 0.9vw;
  border-radius: 0.2vw;
  border: none;
  padding: 0 1vw;
  background-color: #45b9ff;
  color: #eee;
}

.login .cancel {
  padding: 0 2vw;
  height: 5vh;
  font-size: 0.9vw;
  border-radius: 0.2vw;
  border: none;
  background-color: #f00;
  color: #fff;
  font-weight: bolder;
}

.login .check {
  display: flex;
}

.login .check input {
  margin: -0.3vw 0.5vw 0 0;
  width: 0.7vw;
}

.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1vh;
}

.sign a {
  font-size: 0.9vw;
  color: #45b9ff;
  text-decoration: none;
  margin: 0 1vw;
}

.sign a:hover {
  color: #9d0ec9;
  text-decoration: underline;
}

.multi {
  position: absolute;
  width: 20vw;
  background-color: #1118;
  min-height: 60vh;
  padding: 2vh 1vw;
  margin: 20vh 33vw;
  border-radius: 0.5vw;
  backdrop-filter: blur(10px);
  display: none;
}

.multi label {
  font-size: 0.9vw;
  color: #eee;
}

.multi input {
  margin: 1vh 0;
  height: 4vh;
  font-size: 0.9vw;
  border-radius: 0.2vw;
  border: 2px solid #1e425d;
  padding: 0 0.5vw;
  background: none;
  color: #fff;
}

.multi .number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.multi .number input {
  width: 9vw;
}

.multi .submit {
  background-color: #45b9ff;
  color: #eee;
  height: 4vh;
  padding: 0 0.5vw;
  border: none;
  border-radius: 0.2vw;
}

.multi .container {
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.multi .container::-webkit-scrollbar {
  width: 0.3vw;
  margin: 0 0.3vw;
}

.multi .container:hover::-webkit-scrollbar {
  width: 0.5vw;
}

.multi .container::-webkit-scrollbar-track {
  background: #555;
  border-radius: 1vw;
}
.multi .container::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 1vw;
}

nav .log {
  background-image: url(../outils/sign-out-alt.svg);
  background-size: cover;
  background-position: center;
  width: 2.5vw;
  height: 2.5vw;
  position: absolute;
  top: 0.3vw;
  right: 0.5vw;
}

nav p {
  position: absolute;
  top: 0.5vh;
  right: 4vw;
  border-radius: 0.2vw;
  font-size: 1.5vw;
  background: none;
  width: 7vw;
  color: #fff;
  font-weight: bolder;
}
