* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: pop;
}

@font-face {
  font-family: pop;
  src: url(../outils/FontsFree-Net-Poppins-Medium.ttf);
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(../outils/fire.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(7px);
}

nav {
  position: absolute;
  height: 5vh;
  width: 10vw;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

nav .log {
  background-image: url(../outils/sign-out-alt.svg);
  background-size: cover;
  background-position: center;
  width: 2.5vw;
  height: 2.5vw;
}

nav button {
  background: none;
  border: none;
}

nav p {
  border-radius: 0.2vw;
  font-size: 1.5vw;
  background: none;
  width: 7vw;
  color: #fff;
  font-weight: bolder;
}

nav:hover p {
  transition: all 2s;
  display: block;
}

.main {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

h1 {
  font-weight: bolder;
  font-size: 7vw;
  text-decoration: underline;
}

p {
  font-size: 2vw;
  color: #fff;
  margin-bottom: 15vh;
  text-align: center;
  width: 40vw;
}

.link {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.link button {
  width: 12vw;
  height: 18vh;
  margin: 5vh;
  border: none;
  background-color: #45b9ff;
  border-radius: 0.3vw;
  font-size: 3vw;
}

.link button:hover {
  background-color: #0d3451;
}

.link a {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
}

.link a:hover {
  color: #45b9ff;
}
