* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: pop;
}

@font-face {
  font-family: pop;
  src: url(../outils/FontsFree-Net-Poppins-Medium.ttf);
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  background-image: url(../outils/fire.jpg);
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(2px);
}

.main {
  width: 35vw;
  height: 90vh;
  padding: 5vh;
  background-color: #0d3451;
  backdrop-filter: blur(8px);
  margin: 5vh 5vw;
  border-radius: 1vw;
}

.others {
  width: 65vw;
  height: 100vh;
}

h1 {
  font-weight: bolder;
  font-size: 1.5vw;
  color: #fff;
}

p {
  font-size: 0.9vw;
  color: #aaa;
  margin: 3vh 0;
}

.login {
  display: flex;
  flex-direction: column;
}

.login label {
  font-size: 0.9vw;
  color: #aaa;
}

.login input {
  margin: 4vh 0;
  height: 6vh;
  font-size: 0.9vw;
  border-radius: 0.2vw;
  border: 1px solid #1e425d;
  padding: 0 3vw;
  background: none;
  width: 100%;
}

.login .userContainer {
  position: relative;
}

.login .userImg {
  width: 4vh;
  height: 4.5vh;
  position: absolute;
  top: 4.75vh;
  left: 0.5vw;
  background-image: url(../outils/user.svg);
  background-position: center;
  background-size: cover;
}

.login .passwdContainer {
  position: relative;
}

.login .passwdImg {
  width: 4vh;
  height: 4.5vh;
  position: absolute;
  top: 4.75vh;
  left: 0.5vw;
  background-image: url(../outils/lock.svg);
  background-position: center;
  background-size: cover;
  filter: brightness(0) hue-rotate(180deg);
}

.login .btnShow {
  position: absolute;
  top: 5.5vh;
  right: 0.5vw;
  background: none;
  padding: 0.3vh 0.3vw;
  border-radius: 0.3vw;
  border: 1px solid #0d3451;
}

.login .btnShow:hover {
  border: 1px solid #1e425d;
}

.login .passwdShow {
  width: 2.5vh;
  height: 2vh;
  background-image: url(../outils/eye.svg);
  background-position: center;
  background-size: cover;
}

.login .submit {
  margin: 5vh 0;
  height: 6vh;
  font-size: 0.9vw;
  border-radius: 0.2vw;
  border: none;
  padding: 0 1vw;
  background-color: #45b9ff;
  color: #eee;
}

.sign {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 9vh 0;
}

.sign a {
  margin: 0 1vw;
  font-size: 0.9vw;
  color: #45b9ff;
  text-decoration: none;
}

.sign a:hover {
  color: #000;
  text-decoration: underline;
  font-weight: bolder;
}
